@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #007bff;
}

.logo-img {
  width: 50px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 30px;
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* BUTTONS */
.btn {
  padding: 8px 15px;
  border: none;
  background: white;
  color: #007bff;
  cursor: pointer;
  border-radius: 5px;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .navLinks {
    position: absolute;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: #007bff;
    width: 200px;
    padding: 20px;
    transition: 0.3s;
  }

  .showmenu {
    right: 0;
  }

  .hamburger {
    display: block;
    color: white;
  }
}